<ul class="list-none">
  <li *ngFor="let item of toDoList; index as i">
    <app-markable-item [item]="item">
      <app-editable-item (handleEdit)="handleEdit(i)">
        {{ item.name }}
      </app-editable-item>
    </app-markable-item>
  </li>
</ul>
<app-modal [data]="editable" [hidden]="!editable.title" (handleCloseEvent)="hideModal()">

  <form class="py-6 px-4" *ngIf="editable.item">
    <div class="flex flex-wrap -mx-1 mb-6">
      <div class="w-full md:w-1/4 px-1 mb-6 md:mb-0">
        <label
          class="block tracking-wide text-gray-700 text-sm font-bold mb-2"
          for="priority">
          Priority
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="priority" type="number" placeholder="1"
          (blur)="editable.item.priority = $event.target.value"
          [value]="editable.item.priority" >
      </div>
      <div class="w-full md:w-3/4 px-1 mb-6 md:mb-0">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
          Name
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="name" type="text" placeholder="deploy microservice"
          (blur)="editable.item.name = $event.target.value"
          [value]="editable.item.name" >
      </div>
    </div>
    <div class="flex flex-wrap -mx-1 mb-6">
      <div class="w-full md:w-1/2 px-1">
        <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2" for="due-date">
          Due Date
        </label><!--
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="due-date" type="date" [value] ="editable.item.date | date:'yyyy-MM-dd'" (input)="editItemDate($event.target.value)" placeholder="Doe"> -->
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="due-date" type="date" [value] ="editable.item.date | date:'yyyy-MM-dd'" (blur)="editItemDate($event.target.value)" placeholder="Doe">
      </div>
      <div class="w-full md:w-1/2 px-1">
        <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2" for="time">
          Time
        </label><!--
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="time" type="time" [value] ="editable.item.date | date:'HH:mm'" (input)="editItemTime($event.target.value)" placeholder="Doe"> -->
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="time" type="time" [value] ="editable.item.date | date:'HH:mm'" (blur)="editItemTime($event.target.value)" placeholder="Doe">
      </div>
    </div>
    <div class="flex items-center justify-end">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" (click)="saveItem()">
        Save
      </button>
    </div>
  </form>
</app-modal>
