<div class="flex items-baseline">
  <ng-template #content><ng-content></ng-content></ng-template>
  <input class="md:mx-6 mx-3 leading-tight" type="checkbox" [checked]="item.isCompleted()" (change)="setSelected($event)">
  <span class="flex-grow text-sm line-through text-gray-600" [ngClass]="{'line-through': item.isCompleted(), 'text-gray-600': item.isCompleted()}">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </span>
</div>
<!--
<span class="text-sm line-through" [ngClass]="{'line-through': item.isCompleted()}" *ngIf="item.isCompleted();else unChecked">
  (tachado) <ng-container *ngTemplateOutlet="content"></ng-container>
</span>
<ng-template #unChecked >
  <span class="text-sm">
    (no tachado) <ng-container *ngTemplateOutlet="content"></ng-container>
  </span>
</ng-template>
 -->
